<div class="list list-inset">

  <label class="item item-input">
    <input type="text" ng-model="pedido.nome" placeholder="Seu Nome" required>
  </label>

  <label class="item item-input">
    <textarea rows="10" type="text" ng-model="pedido.texto" placeholder="Seu Pedido" required></textarea>
  </label>

  <span class="item item-checkbox">
    <label class="checkbox">
      <input type="checkbox" ng-model="pedido.privado">
    </label>
    Deixar o pedido privado?
  </span>

  <button class="button button-block button-positive" ng-click="cria(pedido)">Enviar</button>

</div>
