<ion-view class="pedidos-index" title="Pedidos">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div class="has-header content padding">
    <div class="button-bar bar-positive padding">
      <a class="button icon icon-left ion-ios7-heart"   ng-class="{ active: filter.check('opened') }" ng-click="filter.update('opened')">Em Aberto</a>
      <a class="button icon icon-left ion-checkmark-circled" ng-class="{ active: filter.check('closed') }" ng-click="filter.update('closed')">Respondidos</a>
    </div>
  </div>

  <ion-content class="padding listagem">

    <ion-refresher pulling-text="Puxe para atualizar" on-refresh="load_pedidos(0)"></ion-refresher>

    <ion-list class="inset-list">

      <ion-item ng-repeat="pedido in pedidos" ng-href="#/pedidos/show/{{pedido.id}}" class="item">
        <h2>{{ pedido.get('nome') }}</h2>
        <p class="item-text-wrap">{{ pedido.get('texto') }}</p>
      </ion-item>

    </ion-list> 

<!-- 
    <ion-infinite-scroll on-infinite="load_pedidos(page+1)" ng-if="tem_mais_pedidos" distance="1%"></ion-infinite-scroll> -->

	</ion-content>

</ion-view>	

