<ion-view class="pedidos-show">	
	<ion-content class="has-header">

		<div class="cabecalho padding-top">
			<div class="padding">
				<span class="author padding-top">{{ pedido.prettyName() }}</span>
				<span class="date">{{ pedido.createdAt | date:'dd/MM HH:mm'  }}</span>
				<p class="pedido">{{ pedido.get('texto') }}</p>
			</div>
		</div>

		<div class="comentarios shadow padding-bottom content">

			<h4 class="padding-top">Atualizações</h4>

			<div ng-repeat="atualizacao in pedido.atualizacoes()">
				<div class="card">
				  <div class="item item-text-wrap">{{ atualizacao.get('texto') }}</div>
				</div>

				<div class="details">
					<span class="date">{{ pedido.createdAt | date:'dd/MM HH:mm'  }}</span>
				</div>
			</div>

			<div class="card new ">
			 	<div class="item item-icon-left">
			 		<i class="icon ion-home ion-ios7-plus-outline"></i>
			 		Nova atualização
			 		<input name="texto" type="text" ng-model="atualizacao.texto"/>
			 	</div>
			</div> 
			
			<div class="noshadow"></div>
		</div>

		
	</ion-content>

</ion-view>
