<ion-view class="pedidos-show" title="Pedido">	
	<ion-content class="has-header">
		
	  <ion-nav-buttons side="right">
	    <button class="button button-icon icon ion-ios-trash" ng-click="deletePedido()" ng-show="pedido.is_mine()"></button>
	  </ion-nav-buttons>

		<div class="cabecalho padding-top">
			<div class="padding">
				<span class="author padding-top">{{ pedido.prettyName() }}</span>
				<span class="date">{{ pedido.createdAt | date:'dd/MM HH:mm'  }}</span>
				<p class="pedido">{{ pedido.get('texto') }}</p>
			</div>
		</div>

		<div class="comentarios content">

			<h4 class="padding-top">Atualizações</h4>

			<div ng-repeat="atualizacao in atualizacoes">
				<div class="card">
				  <div class="item item-text-wrap">{{ atualizacao.get('texto') }}</div>
				</div>

				<div class="details">
					<span class="date">{{ atualizacao.createdAt | date:'dd/MM HH:mm'  }}</span>
				</div>
			</div>

			<div class="card" ng-class="{ new: !criando_atualizacao }">
			 	<div class="item item-icon-left" ng-click="comecaAtualizacao()">
			 		<i class="icon ion-plus-circled" ng-click="atualizacao.texto ? addAtualizacao(atualizacao) : void(0)"></i>
			 		<span ng-show="!criando_atualizacao" class="label" >Nova atualização</span>

			 		<div ng-show="criando_atualizacao">
			 			<label class="item item-input">
					    <input type="text" placeholder="Qual atualização houve?" ng-model="atualizacao.texto">
					  </label>

					  <div class="item item-checkbox">
				     	É para fechar o pedido?
						  <label class="checkbox ">
				        <input type="checkbox" ng-model="atualizacao.fecha_pedido" >
				     	</label>
				    </div>
			 		</div>

			 	</div>
			</div> 
			
		</div>
		
	</ion-content>

</ion-view>
