<ion-view class="pedidos-show">	
	<ion-content class="has-header">

		<div class="cabecalho padding-top">
			<div class="padding">
				<span class="author padding-top">{{ pedido.prettyName() }}</span>
				<span class="date">{{ pedido.createdAt | date:'dd/MM HH:mm'  }}</span>
				<p class="pedido">{{ pedido.get('texto') }}</p>
			</div>
		</div>

		<div class="comentarios shadow padding-bottom content">

			<div class="card">
			  <div class="item item-text-wrap">{{ pedido.get('texto') }}</div>
			</div>

			<div class="card">
			  <div class="item item-text-wrap">{{ pedido.get('texto') }}</div>
			</div>

			<div class="card">
			  <div class="item item-text-wrap">{{ pedido.get('texto') }}</div>
			</div> 

			<div class="card new ">
			 	<div class="item item-icon-left">
			 		<i class="icon ion-home ion-ios7-plus-outline"></i>
			 		Nova atualização
			 	</div>
			</div> 
			<div class="card new" ng-hide={{pedido.get('meu')}}>
				<div class="item item-icon-left">
			 		<i class="icon ion-home ion-ios7-minus-outline" ng-href="#/pedidos/delete/{{pedido.id}}">
			 			Remover pedido
			 		</i>
			 	</div>
			</div>

		</div>

		<div class="noshadow"></div>
		
	</ion-content>

</ion-view>
