
<ion-tabs class="tabs-positive tabs-icon-only" title="Pedidos">

  <ion-tab title="Atualizações" icon="icon ion-ios7-refresh" badge="3" badge-style="badge-dark" href="#/pedidos/all">
    <ion-nav-view name="all"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Em Aberto" icon="icon ion-ios7-heart" href="#/pedidos/opened">
    <ion-nav-view name="opened"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Respondidos" icon="icon ion-checkmark-circled" href="#/pedidos/closed">
    <ion-nav-view name="closed"></ion-nav-view>
  </ion-tab>


</ion-tabs>
