// Include all of Ionic

@import "ionic.app";

.details {
  float: right;
  margin-top: -12px;
  @extend .padding-right;
  color: #666;
  span { color: black; }
}

.listagem {
  top: 124px;
}

.button-bar .icon {
  border: 1px solid #ddd;
  &:first-child { margin-right: -1px; } 
  &.active, &:active { background: #aaa; margin-right: 0px; }
}