// Include all of Ionic

@import "ionic.app";
@import "pedidos";


.nav-bar {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 7px 0px rgba(50,50,50,0.75);
}

.noshadow {
  height: 5px;
  width: 100%;
  position: relative;
  top: 15px;
  z-index: 101;
  background: white;
}

.card.new .item {
  background: #ddd !important;
}

.sidebar {
  
  .inactive {
    color: #bbb !important;
  }

  .active, .activated {
    color: #444 !important;
  }
}
