<ion-side-menus >

  <!-- Center content -->
  <ion-side-menu-content ng-controller="ContentController">

    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back" ng-click="goBack()">
        Voltar
      </ion-nav-back-button>

      <div class="buttons left-buttons"></div>
      <div class="buttons left-buttons">
        <i class="button-icon icon ion-loading-c loading" ng-show="loading"></i>           
      </div>
  
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-compose"></button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>


  <ion-side-menu side="left">
    <div class="header">
      <img src="assets/img/icon-white.png" />
    </div>

    <ion-content scroll="false" ng-controller="ContentController">
      <div class="list sidebar padding-top">
        <span class="item item-divider">Oração</span>
        <a class="item" ng-href="#/pedidos/public"  nav-clear menu-close>
          Pedidos
          <span class=" indicator">7</span>
        </a>
        <a class="item" ng-href="#/pedidos/mine" nav-clear menu-close>Meus Pedidos</a>
        <a class="item" ng-href="#/pedidos/mine" nav-clear menu-close>Reflexão</a>

        <span class="item item-divider">Comunidade</span>
        <a class="item" ng-href="#/pedidos/public"  nav-clear menu-close>Avisos</a>
        <a class="item" ng-href="#/pedidos/mine" nav-clear menu-close>Oportunidades</a>
        <a class="item" ng-href="#/pedidos/mine" nav-clear menu-close>Doação</a>
      </div>
    </ion-content>
  </ion-side-menu>


  <ion-side-menu side="right" ng-controller="PedidosNew">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Novo Pedido</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <ng-include src="'templates/pedidos/form.html'"></ng-include>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>