<ion-side-menus >

  <!-- Center content -->
  <ion-side-menu-content ng-controller="ContentController">

    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Voltar
      </ion-nav-back-button>

      <div class="buttons left-buttons"></div>
      <div class="buttons left-buttons">
        <i class="button-icon icon ion-loading-c loading" ng-show="loading"></i>           
      </div>
  
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-compose"></button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <div class="list sidebar">
        <div class="item-divider padding-left">#umasóvoz</div>
        <a class="item" ng-href="#/pedidos/all">Pedidos</a>
        <a class="item" ng-href="#/pedidos/mine">Meus Pedidos</a>
        <a class="item inactive">Minha Lista de Oração</a>
        <a class="item inactive">Reflexão do Dia</a>
      </div>
    </ion-content>
  </ion-side-menu>


  <ion-side-menu side="right" ng-controller="PedidosNew">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Novo Pedido</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <ng-include src="'templates/pedidos/form.html'"></ng-include>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>