<ion-view class="reflexao-index" title="{{ title }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding listagem">

    <ion-refresher pulling-text="Puxe para atualizar"></ion-refresher>

    <ion-list class="inset-list">

      <ion-item ng-repeat="entry in entries" ng-href="#/reflexao/" class="item" ng-click="entry.link">
        <h2>{{ entry.title }}</h2>
      </ion-item>
    </ion-list> 

<!-- 
    <ion-infinite-scroll on-infinite="load_pedidos(page+1)" ng-if="tem_mais_pedidos" distance="1%"></ion-infinite-scroll> -->

	</ion-content>

</ion-view>	

