
<ion-view class="reflexao-index" title="{{ title }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding listagem">

    <!-- <ion-refresher pulling-text="Puxe para atualizar"></ion-refresher> -->
    <center><h3>{{titulo}}</h3></center>
    <p ng-bind-html="texto"></p>
   	<p style="color:BLUE; font-size:x-small" align="right">{{autor}}--{{data}}</p>
	<p align="right"> Post tirado do blog <a href="http://www.outrasfronteiras.com.br">Outras Fronteiras</a></p>    
</ion-content>

</ion-view>	

